In [1]:
import time
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
from pandas.api.types import is_numeric_dtype
from functools import reduce

In [2]:
df = pd.read_csv('../data/test_education.csv')

In [3]:
df = df.drop(['Case'],axis=1)

In [4]:
df

    Education Skills Experience Productivity
0      higher   high          -         high
1           ?   high        low         high
2   secondary      -       high         high
3      higher      ?       high         high
4  elementary   high        low          low
5   secondary      -       high          low
6           -    low       high          low
7  elementary      ?          -          low

### Attribute-Concept Values used to fill up Incomplete Data !!

#### Defining Goal Set !!

In [5]:
df_headers = list(df)
concept = df_headers[-1]
concept

'Productivity'

In [6]:
#all unique concepts
concept_list = df[concept].unique()
concept_list

array(['high', 'low'], dtype=object)

In [7]:
#calculating cases by concepts and making sets
U = [] #universal list containing all cases
temp_list = []
goal_list = []
for item in concept_list:
    for index, row in df.iterrows():
        U.append(index+1)
        if row[concept] == item:
            temp_list.append(index)
    goal_list.append(temp_list)
    temp_list = []

In [8]:
goal_list

[[0, 1, 2, 3], [4, 5, 6, 7]]

#### Building Case List !!

In [9]:
# Case list is built here as it's not needed att-concept or lost value handling to do so

In [10]:
attributes = list(df)
attributes

['Education', 'Skills', 'Experience', 'Productivity']

In [11]:
case_list = []
#Loop through all the attributes except last 2 - Concept and sort_col
for item in attributes[:-1]:
    print(item)
    
    #check for non numeric columns
    if not is_numeric_dtype(df[item]):
        temp = df[item].unique()
        for i in temp:
            if i == '?' or i == '-':
                continue
            else:
                case = item + "," + i
                case_list.append(case)

Education
Skills
Experience

In [12]:
case_list

['Education,higher',
 'Education,secondary',
 'Education,elementary',
 'Skills,high',
 'Skills,low',
 'Experience,low',
 'Experience,high']

In [13]:
#Don't copy dataframes using assignment operator e.g. df=df2 
#as it'll modify the other dataframe if we attempt to edit one
#hence use copy() function

df2 = df.copy()

#### Start of handling Missing attribute !!

In [14]:
for col in df:
    for i, row_value in df[col].iteritems():
        
        #This is for attribute-concept value interpretation
        #For Lost value interpretation, we don't add that case to any block at all
        if row_value == '-':
            
            final_values = []
            print(col,i)
            concept_tmp = df[concept][i]
            print(concept_tmp)
            
            for item_list in goal_list:
                if i in item_list:
                    final_values = item_list
                    
            print (final_values)
            
            #Taking out all unique cases corresponding to the matched concept
            col_values = []
            for item in final_values:
                col_values.append(df[col][item])
        
            
            uniqueList = []
            for letter in col_values:
                if letter not in uniqueList:
                    uniqueList.append(letter)
            
            if '-' in uniqueList:
                uniqueList.remove('-')
                
            if '?' in uniqueList:
                uniqueList.remove('?')
            print(uniqueList)
            
#             print(df.loc[i,col])
            df2.at[i, col] = uniqueList
            
    print("\n")

Education 6
low
[4, 5, 6, 7]
['elementary', 'secondary']


Skills 2
high
[0, 1, 2, 3]
['high']
Skills 5
low
[4, 5, 6, 7]
['high', 'low']


Experience 0
high
[0, 1, 2, 3]
['low', 'high']
Experience 7
low
[4, 5, 6, 7]
['low', 'high']

In [15]:
df2

                 Education       Skills   Experience Productivity
0                   higher         high  [low, high]         high
1                        ?         high          low         high
2                secondary       [high]         high         high
3                   higher            ?         high         high
4               elementary         high          low          low
5                secondary  [high, low]         high          low
6  [elementary, secondary]          low         high          low
7               elementary            ?  [low, high]          low

In [16]:
df = df2.copy()

In [17]:
df_headers = list(df)
concept = df_headers[-1]
concept_list = df[concept].unique()

In [18]:
concept_list

array(['high', 'low'], dtype=object)

In [19]:
#calculating cases by concepts and making sets
temp_list = []
goal_list = []
for item in concept_list:
    for index, row in df.iterrows():
        if row[concept] == item:
            temp_list.append(index+1)
    goal_list.append(temp_list)
    temp_list = []

In [20]:
goal_list

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [21]:
df

                 Education       Skills   Experience Productivity
0                   higher         high  [low, high]         high
1                        ?         high          low         high
2                secondary       [high]         high         high
3                   higher            ?         high         high
4               elementary         high          low          low
5                secondary  [high, low]         high          low
6  [elementary, secondary]          low         high          low
7               elementary            ?  [low, high]          low

In [22]:
case_list

['Education,higher',
 'Education,secondary',
 'Education,elementary',
 'Skills,high',
 'Skills,low',
 'Experience,low',
 'Experience,high']

In [23]:
temp_list = []
att_val_list = []
for item in case_list:
    a,b = item.split(",") #a = attribute and b = value
    if "." in b:
        start,end = b.split("..")
        for index, row in df.iterrows():
            if row[a] >= int(start) and row[a] <= int(end):
                temp_list.append(index+1)
        print(temp_list)
        att_val_list.append(temp_list)
        temp_list = []
        
    else:
        for index, row in df.iterrows():
            if type(row[a]) == list:
                tmp_list = row[a]
                for case in tmp_list:
                    if case == b:
                        temp_list.append(index+1)
                        
            if row[a] == b:
                temp_list.append(index+1)
        print(temp_list)
        att_val_list.append(temp_list)
        temp_list = []

[1, 4]
[3, 6, 7]
[5, 7, 8]
[1, 2, 3, 5, 6]
[6, 7]
[1, 2, 5, 8]
[1, 3, 4, 6, 7, 8]

In [24]:
#Print two evenly distributed list side by side
fmt = '%-8s%-20s%s'

for i, (case, att_val) in enumerate(zip(case_list, att_val_list)):
    print(fmt % (i, case, att_val))

0       Education,higher    [1, 4]
1       Education,secondary [3, 6, 7]
2       Education,elementary[5, 7, 8]
3       Skills,high         [1, 2, 3, 5, 6]
4       Skills,low          [6, 7]
5       Experience,low      [1, 2, 5, 8]
6       Experience,high     [1, 3, 4, 6, 7, 8]

In [25]:
#Might need to handle cases when att-concept values could not be populated and default should be Null

### Start of Lower/Upper & Probabilistic Approximations !!

#### Bulding Characteristic Sets !!

In [26]:
df

                 Education       Skills   Experience Productivity
0                   higher         high  [low, high]         high
1                        ?         high          low         high
2                secondary       [high]         high         high
3                   higher            ?         high         high
4               elementary         high          low          low
5                secondary  [high, low]         high          low
6  [elementary, secondary]          low         high          low
7               elementary            ?  [low, high]          low

In [27]:
U = set(U)
U

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
# Creating dictionary combining case_list and att_val list
block = dict(zip(case_list, att_val_list))
block

{'Education,higher': [1, 4],
 'Education,secondary': [3, 6, 7],
 'Education,elementary': [5, 7, 8],
 'Skills,high': [1, 2, 3, 5, 6],
 'Skills,low': [6, 7],
 'Experience,low': [1, 2, 5, 8],
 'Experience,high': [1, 3, 4, 6, 7, 8]}

In [29]:
dic = {}
for index, row in df.iterrows():
    tmp_set = set()
    final_union = []
    char_list = []
    char_list_2 = []
    final_union_set = []
  
    for cols in attributes[:-1]:
        #If the value for corresponding attribute is a list then create all of the att-value pairs
        if type(df.loc[index,cols]) == list:
            print("When values are list") #########
            for item in df.loc[index,cols]:
                block_key = cols + "," + item
                char_list.append(block_key) #char_list has all att-val cases
                print(char_list) #########
                
            union_set = set()
            #Compute union of att-concept value case
            for item in char_list:
                union_set = union_set.union(set(block[item]))
            
            print("Union Set: ", union_set) #########
            final_union.append(union_set)
        
        else:
            print("When value is single") #########
            block_key = cols + "," + df.loc[index,cols]
            char_list_2.append(block_key) #char_list_2 has all single cases
            print(char_list_2) ##########
   
    #Compute instersection for this current row for Characteristics set
    
    print("final_union: ", final_union) ########
    if len(final_union):
        final_union_set = list(reduce(set.intersection, [set(item) for item in final_union]))
        
    
    print("Final Union Set: ", final_union_set) ##########
    
    for item in char_list_2:
        if item in block:
            print("When item is found as key in the block") ########
            if tmp_set == set():
                #Copy over the current set elements to B
                for i in range(len(block[item])):
                    tmp_set.add(block[item][i])
                    
            tmp_set = tmp_set.intersection(set(block[item]))
            print(tmp_set) ########
        
        #If item not in block
        else:
            print("When item is not found as key in the block") ########
            print(tmp_set) ########
            print(U) #########
            if tmp_set == set():
                tmp_set = U
                
            tmp_set = tmp_set.intersection(U)
            print(tmp_set) ########
    
    print("Final tmp_set: ", tmp_set) #########
    final_union_set = set(final_union_set)
    
    if final_union_set == set():
        tmp_set = tmp_set
    else:
        tmp_set = tmp_set.intersection(final_union_set)
        
    print("This is the final value: ", tmp_set) ###########
        
    key = ('K_%d' % (index+1))
    print(key) #########
    dic[key] = tmp_set
    print("\n") ##########

When value is single
['Education,higher']
When value is single
['Education,higher', 'Skills,high']
When values are list
['Experience,low']
['Experience,low', 'Experience,high']
Union Set:  {1, 2, 3, 4, 5, 6, 7, 8}
final_union:  [{1, 2, 3, 4, 5, 6, 7, 8}]
Final Union Set:  [1, 2, 3, 4, 5, 6, 7, 8]
When item is found as key in the block
{1, 4}
When item is found as key in the block
{1}
Final tmp_set:  {1}
This is the final value:  {1}
K_1


When value is single
['Education,?']
When value is single
['Education,?', 'Skills,high']
When value is single
['Education,?', 'Skills,high', 'Experience,low']
final_union:  []
Final Union Set:  []
When item is not found as key in the block
set()
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
When item is found as key in the block
{1, 2, 3, 5, 6}
When item is found as key in the block
{1, 2, 5}
Final tmp_set:  {1, 2, 5}
This is the final value:  {1, 2, 5}
K_2


When value is single
['Education,secondary']
When values are list
['Skills,high']
Union Set:  {1, 2, 3, 5, 6}
When value is single
['Education,secondary', 'Experience,high']
final_union:  [{1, 2, 3, 5, 6}]
Final Union Set:  [1, 2, 3, 5, 6]
When item is found as key in the block
{3, 6, 7}
When item is found as key in the block
{3, 6, 7}
Final tmp_set:  {3, 6, 7}
This is the final value:  {3, 6}
K_3


When value is single
['Education,higher']
When value is single
['Education,higher', 'Skills,?']
When value is single
['Education,higher', 'Skills,?', 'Experience,high']
final_union:  []
Final Union Set:  []
When item is found as key in the block
{1, 4}
When item is not found as key in the block
{1, 4}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 4}
When item is found as key in the block
{1, 4}
Final tmp_set:  {1, 4}
This is the final value:  {1, 4}
K_4


When value is single
['Education,elementary']
When value is single
['Education,elementary', 'Skills,high']
When value is single
['Education,elementary', 'Skills,high', 'Experience,low']
final_union:  []
Final Union Set:  []
When item is found as key in the block
{8, 5, 7}
When item is found as key in the block
{5}
When item is found as key in the block
{5}
Final tmp_set:  {5}
This is the final value:  {5}
K_5


When value is single
['Education,secondary']
When values are list
['Skills,high']
['Skills,high', 'Skills,low']
Union Set:  {1, 2, 3, 5, 6, 7}
When value is single
['Education,secondary', 'Experience,high']
final_union:  [{1, 2, 3, 5, 6, 7}]
Final Union Set:  [1, 2, 3, 5, 6, 7]
When item is found as key in the block
{3, 6, 7}
When item is found as key in the block
{3, 6, 7}
Final tmp_set:  {3, 6, 7}
This is the final value:  {3, 6, 7}
K_6


When values are list
['Education,elementary']
['Education,elementary', 'Education,secondary']
Union Set:  {3, 5, 6, 7, 8}
When value is single
['Skills,low']
When value is single
['Skills,low', 'Experience,high']
final_union:  [{3, 5, 6, 7, 8}]
Final Union Set:  [3, 5, 6, 7, 8]
When item is found as key in the block
{6, 7}
When item is found as key in the block
{6, 7}
Final tmp_set:  {6, 7}
This is the final value:  {6, 7}
K_7


When value is single
['Education,elementary']
When value is single
['Education,elementary', 'Skills,?']
When values are list
['Experience,low']
['Experience,low', 'Experience,high']
Union Set:  {1, 2, 3, 4, 5, 6, 7, 8}
final_union:  [{1, 2, 3, 4, 5, 6, 7, 8}]
Final Union Set:  [1, 2, 3, 4, 5, 6, 7, 8]
When item is found as key in the block
{8, 5, 7}
When item is not found as key in the block
{8, 5, 7}
{1, 2, 3, 4, 5, 6, 7, 8}
{8, 5, 7}
Final tmp_set:  {8, 5, 7}
This is the final value:  {8, 5, 7}
K_8

In [30]:
dic

{'K_1': {1},
 'K_2': {1, 2, 5},
 'K_3': {3, 6},
 'K_4': {1, 4},
 'K_5': {5},
 'K_6': {3, 6, 7},
 'K_7': {6, 7},
 'K_8': {5, 7, 8}}

#### Concept Lower and Upper Approximation calculation !!

In [31]:
# Concept Lower Approximations: BX =∪{KB(x) | x∈X,KB(x)⊆X}
# Concept Upper Approximations: BX =∪{KB(x) | x∈X}

#### Lower Approximation !!

In [32]:
def lowerApproximation(charac_set,concept):
    #set to contain lower approximations
    lower = set()
    
    #Check for each element of the concept
    for item in concept:
        key = 'K_%d' % (item)
        set_value = charac_set[key]
  
        if set_value.issubset(set(concept)):
            lower = lower.union(set_value)
          
    return lower

In [33]:
lower_approximations = {}
for item in goal_list:
    #Key is the string converted list so as to add as dictionary key
    lower_approximations[str(item)] = lowerApproximation(dic,item)

In [34]:
lower_approximations

{'[1, 2, 3, 4]': {1, 4}, '[5, 6, 7, 8]': {5, 6, 7, 8}}

In [35]:
#Accessing the lower approximations
lower_approximations[str(goal_list[1])]

{5, 6, 7, 8}

#### Upper Approximation !!

In [36]:
def upperApproximation(charac_set,concept):
    #set to contain lower approximations
    upper = set()
    
    #Check for each element of the concept
    for item in concept:
        key = 'K_%d' % (item)
        set_value = charac_set[key]
        upper = upper.union(set_value)
          
    return upper

In [37]:
upper_approximations = {}
for item in goal_list:
    #Key is the string converted list so as to add as dictionary key
    upper_approximations[str(item)] = upperApproximation(dic,item)

In [38]:
upper_approximations

{'[1, 2, 3, 4]': {1, 2, 3, 4, 5, 6}, '[5, 6, 7, 8]': {3, 5, 6, 7, 8}}

In [39]:
#Accessing the lower approximations
upper_approximations[str(goal_list[0])]

{1, 2, 3, 4, 5, 6}

#### Concept Probabilistic Approximation !!

In [40]:
# ∪{KB(x) | x ∈ X, Pr(X|KB(x)) ≥ α}

In [41]:
# Study Concept Probabilistic Approximation. It's not clear yet.

In [42]:
first_column = list(dic.keys())

In [43]:
second_column = list(dic.values())

In [44]:
prob_approx = pd.DataFrame(
    {'charset_name': first_column,
     'charset_value': second_column
    })

In [45]:
prob_approx

  charset_name charset_value
0          K_1           {1}
1          K_2     {1, 2, 5}
2          K_3        {3, 6}
3          K_4        {1, 4}
4          K_5           {5}
5          K_6     {3, 6, 7}
6          K_7        {6, 7}
7          K_8     {8, 5, 7}

In [46]:
def probabilisticApproximation(concept):
    prob = []
    for index, row in prob_approx.iterrows():
        if len(row['charset_value']) != 0:
            probability_conditional = len(row['charset_value'].intersection(set(concept))) / len(row['charset_value'])
        else:
            probability_conditional = 0.0
            
        prob.append(round(probability_conditional,2))
    return prob

#### Calculate Middle Concept Probabilistic Approximation where α=0.5

In [47]:
def findMiddleApprox(concept):
    probapprox = set()
    cond_prob = probabilisticApproximation(concept) #Need to put the goal
    prob_approx['cond_probability'] = cond_prob
    for index, row in prob_approx.iterrows():
        part1,part2 = row['charset_name'].split("_")
       
        if row['cond_probability'] >= 0.50:
            if int(part2) in concept:
#                 print(row['charset_value'])
                probapprox = probapprox.union(row['charset_value'])
    return probapprox

In [48]:
probapprox = findMiddleApprox(goal_list[1]) #Need to put the goal

In [49]:
probapprox

{3, 5, 6, 7, 8}